* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    color: white;
    font-family: Arial, sans-serif;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre todo el fondo */
    z-index: -1; /* Coloca el video detrás del contenido */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para mejorar la legibilidad */
    z-index: 0; /* Overlay detrás del contenido */
}

header {
    position: relative;
    z-index: 1; /* Asegura que el encabezado esté por encima del overlay */
    text-align: center; /* Centra el texto en el encabezado */
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Muestra los elementos en línea */
    margin: 0 15px; /* Espaciado entre los enlaces */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima del overlay */
    text-align: center; /* Centra el texto en el main */
    padding: 50px 20px; /* Espaciado alrededor del contenido */
}

section {
    margin: 20px 0; /* Espaciado entre secciones */
}

footer {
    text-align: center;
    padding: 20px;
    z-index: 1; /* Asegura que el pie de página esté por encima del overlay */
}

#image-description {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    align-items: center; /* Alinea verticalmente el contenido */
    margin: 40px 0; /* Espaciado superior e inferior */
}

.image {
    max-width: 600px; /* Ancho máximo de la imagen */
    margin-right: 20px; /* Espacio entre la imagen y la descripción */
    border-radius: 8px; /* Bordes redondeados */
}

.description {
    flex: 1; /* Permite que el párrafo ocupe el espacio restante */
}

#clickable-image {
    transition: width 0.3s; /* Smooth transition for width change */
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.gallery-box {
    width: 45%; /* Ajusta el ancho según sea necesario */
    padding: 10px;
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 5px; /* Esquinas redondeadas opcionales */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de transparencia */
}

.gallery-box h3 {
    margin-top: 0; /* Elimina el margen superior del encabezado */
}

.gallery-box img {
    width: 50%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 10px; /* Espacio entre el texto y la imagen */
    border-radius: 5px; /* Esquinas redondeadas opcionales */
}